<div class="agenda content-wrap">
	<div class="jumbotron">
		<h4 class="leading-title bold">{{app}}</h4>
        <fieldset>
			<dl class="ctt-detail">
				<dt>{{contato.name}}</dt>
				<dd><strong>{{contato.address}}</strong></dd>
				<dd><i class="icon glyphicon glyphicon-earphone"></i> {{contato.telefone}}</dd>
				<dd><i class="icon glyphicon glyphicon-calendar"></i> {{contato.created_at | date: 'dd/mm/yyyy'}}</dd>
			</dl>
		</fieldset>
		<hr />
		<div class="btn-block clearfix">
			<a href="#/contatos" class="btn btn-danger btn-responsive"><i class="btn-icon glyphicon glyphicon-chevron-left"></i> Voltar</a>	
		</div>
	</div>
</div>
